* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5 !important;
}

.my-card {
    background-color: #fff;

}

.details {
    font-weight: 600;
    font-size: 1.2rem;
}

.bg {
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/5473337/pexels-photo-5473337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.text-large {
    font-size: 70px;
}

.profile-img {
    width: 100%;
    height: auto;
}

.box {
    background-color: #fff;
}

.profile-img {
    width: 20%;
    height: 10px;
}

.line {
    width: 40px;
    height: 5px;
    background-color: rgb(65, 163, 209);
}

/* Contact */
#contact {
    background-color: #288bfc;
}


/* Education */
.md-20 {
    font-size: 15px !important;
}